body{
    background-color:rgb(17, 17, 17);
}
.galBodyContainer{
    padding-top:8vh;
     /* height:92vh; */
     display:flex;
     /* align-items:center; */
     padding:12vh 20% 0px 20%;
 }
.galleryComponentHolder{
    width:100%;
    /* height:100%; */
    gap:1rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.thisIsAGalleryComponent{
    background-color:rgb(0, 0, 0);
    display:flex;
    flex:1 0 26%;
    height:30vh;
    max-width:32%;
    flex-direction: column;
    border-radius:1rem;
    box-shadow:1px 1px 10px black;
}
.thisIsAGalleryComponent img{
    height:80%;
    object-fit: cover;
    width:100%;
    border-radius:inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.galleryComponentName{
    background-color:var(--poopcock);
    height:20%;
    width:100%;
    border-radius:inherit;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.4rem;
}